<form action="/register" method="post">
  <input type="text" name="name" placeholder="Name" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Register</button>
</form>